@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body, p, h1, h2, h3, h4, h5, h6, ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #545454;
}

a:visited{
    color: #545454;
}

a:hover{
    color: black;
}

#app {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    .typing-text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
}